<a href="https://colab.research.google.com/github/shahalaap/LEARN.PY/blob/main/TASK_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a DataFrame by passing a random numpy array,with a dateted index and labelled columns and display,
  - where values of the column A is greater than 0.
  - where values of the columns A is greater than 0 and B greater than -1.
  - where values of the columns A  is greater than 0 or B greater than -1.

In [2]:
#please type your code below this line.
 
import numpy as np
import pandas as pd
 
date = pd.date_range('2021-09-01',periods=4)
df = pd.DataFrame(np.random.randn(4,2), index=date, columns=list('AB'))
print(df)
 
df1 = df['A']>0
print(df1)
 
df2 = df[(df.A > 0) & (df.B > -1)]
print(df2)
 
df3 = df[(df.A > 0) | (df.B > -1)]
print(df3)

                   A         B
2021-09-01 -0.084018 -0.437074
2021-09-02 -0.234861  1.962472
2021-09-03  0.436068 -0.502621
2021-09-04 -0.729452  0.695446
2021-09-01    False
2021-09-02    False
2021-09-03     True
2021-09-04    False
Freq: D, Name: A, dtype: bool
                   A         B
2021-09-03  0.436068 -0.502621
                   A         B
2021-09-01 -0.084018 -0.437074
2021-09-02 -0.234861  1.962472
2021-09-03  0.436068 -0.502621
2021-09-04 -0.729452  0.695446

2. Create a DataFrame by passing a random numpy array,with a dateted index and labelled columns and check if ,
  - the values of the table are greater the zero or not.
  - the value at the postion (0,0) is equal to NaN or not.

In [3]:
#please type your code below this line.
import numpy as np
import pandas as pd
from numpy import NaN
 
print(df)
 
print("1)")
df1 = df[df>0]
print(df1)
 
print("2)")
df2 = df.iloc[0,0]==NaN
print(df2)

                   A         B
2021-09-01 -0.084018 -0.437074
2021-09-02 -0.234861  1.962472
2021-09-03  0.436068 -0.502621
2021-09-04 -0.729452  0.695446
1)
                   A         B
2021-09-01       NaN       NaN
2021-09-02       NaN  1.962472
2021-09-03  0.436068       NaN
2021-09-04       NaN  0.695446
2)
False

3. Create a DataFrame by passing a random numpy array,with a dateted index and labelled columns and,
  - reindex the index with even dates.
  - create a column with values NaN.
  - make the values of the first two index of the newly created column as 1

In [14]:
#please type your answer below this line.
import numpy as np
import pandas as pd
from numpy import NaN
 
print(df)
 
dates = ['2021-09-02','2021-09-04','2021-09-06','2021-09-08']
df1 = df.reindex(index=dates)
print(df1)
 
list = ['A','B','C']
df2 = df.reindex(list, axis = 'columns')
print(df2)
 
df3["C"] = ["1","1","NaN","NaN"]
print(df3)

                   A         B
2021-09-01 -0.084018 -0.437074
2021-09-02 -0.234861  1.962472
2021-09-03  0.436068 -0.502621
2021-09-04 -0.729452  0.695446
             A   B
2021-09-02 NaN NaN
2021-09-04 NaN NaN
2021-09-06 NaN NaN
2021-09-08 NaN NaN
                   A         B   C
2021-09-01 -0.084018 -0.437074 NaN
2021-09-02 -0.234861  1.962472 NaN
2021-09-03  0.436068 -0.502621 NaN
2021-09-04 -0.729452  0.695446 NaN
                   A         B    C
2021-09-01 -0.084018 -0.437074    1
2021-09-02 -0.234861  1.962472    1
2021-09-03  0.436068 -0.502621  NaN
2021-09-04 -0.729452  0.695446  NaN