<a href="https://colab.research.google.com/github/shahalaap/LEARN.PY/blob/main/TASK_18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 
Create a DataFrame by passing a random numpy array,with a datetie index and labelled columns.and,
    - slice its first three rows and display.
    - slice its odd indexed rows.
    - display the dates from 1st postion to 4 th position.

In [42]:
#please provide your answer below this line.
import numpy as np
import pandas as pd
datetie = pd.date_range('2021-09-01',periods=6)
df = pd.DataFrame(np.random.randn(6,6), index=datetie, columns=list('ABCDEF'))
df1 = df.iloc[0:3]
print("First 3 rows")
print(df1)
 
df2 = df.iloc[0::2]
print("Odd indexed rows")
print(df2)
 
df3 = df.iloc[1:4,0:0]
print("Dates from 1st position to 4th position")
print(df3)

First 3 rows
                   A         B         C         D         E         F
2021-09-01  0.570515  0.057661 -1.576694 -1.342467  0.050194 -0.842684
2021-09-02  1.316828 -2.105754  0.527329 -0.838570  0.344209  0.399053
2021-09-03  1.071840  0.886111  1.520118 -0.169197 -0.853116  0.044362
Odd indexed rows
                   A         B         C         D         E         F
2021-09-01  0.570515  0.057661 -1.576694 -1.342467  0.050194 -0.842684
2021-09-03  1.071840  0.886111  1.520118 -0.169197 -0.853116  0.044362
2021-09-05  0.576581  1.318770 -0.174706 -0.125234 -2.739727  0.626692
Dates from 1st position to 4th position
Empty DataFrame
Columns: []
Index: [2021-09-02 00:00:00, 2021-09-03 00:00:00, 2021-09-04 00:00:00]

2. Create a DataFrame by passing a random numpy array,with a datetie index and labelled columns.and
  - Dislplay the index from the 1 to 3 date and the columns A and B of respective data.
  - Display the datas at the 3rd index.
  - Display datas from 2nd to 5th.
  - Display the datas from the index 1,2,4 and the column 0 and 2.

In [66]:
#please provide your answer below this line.
df1 = df.loc[['2021-09-02','2021-09-03','2021-09-04'],['A','B']]
print(df1)
 
df2 = df.loc['2021-09-04']
print("Datas at the 3rd index")
print(df2)
 
df3 = df.loc[['2021-09-03','2021-09-04','2021-09-05','2021-09-06']]
print("Datas from index 2nd to 5th")
print(df3)
 
df4 = df.loc[['2021-09-02','2021-09-03','2021-09-05'],['A','C']]
print("Datas from the index 1,2,4 and the column 0 and 2")
print(df4)

                   A         B
2021-09-02  1.316828 -2.105754
2021-09-03  1.071840  0.886111
2021-09-04 -1.833085  0.160287
Datas at the 3rd index
A   -1.833085
B    0.160287
C   -1.643017
D    1.076006
E   -2.246836
F    1.332752
Name: 2021-09-04 00:00:00, dtype: float64
Datas from index 2nd to 5th
                   A         B         C         D         E         F
2021-09-03  1.071840  0.886111  1.520118 -0.169197 -0.853116  0.044362
2021-09-04 -1.833085  0.160287 -1.643017  1.076006 -2.246836  1.332752
2021-09-05  0.576581  1.318770 -0.174706 -0.125234 -2.739727  0.626692
2021-09-06  1.192360  0.093590 -0.896267  1.039948 -0.205328  0.178863
Datas from the index 1,2,4 and the column 0 and 2
                   A         C
2021-09-02  1.316828  0.527329
2021-09-03  1.071840  1.520118
2021-09-05  0.576581 -0.174706