<a href="https://colab.research.google.com/github/shahalaap/LEARN.PY/blob/main/TASK_16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Given index=["India","Pakistan","Bangladesh","Srilanka","china","Nepal"] and data=[1,3,5,np.nan,6,8] . Create a table with the "index" as indices and data as values.

      Expected output

        India         1.0
        Pakistan      3.0
        Bangladesh    5.0
        Srilanka      NaN
        China         6.0
        Nepal         8.0
        Name: myseries, dtype: float64

In [3]:
#please type your answer below this line.
import numpy as np
import pandas as pd
a = pd.Series([1,3,5,np.nan,6,8], index=["India", "Pakistan", "Bangladesh", "Srilanka", "China", "Nepal"],name='myseries')
print(a)

India         1.0
Pakistan      3.0
Bangladesh    5.0
Srilanka      NaN
China         6.0
Nepal         8.0
Name: myseries, dtype: float64

2. Create a data 'dates' starting from 2021-01-01 with range 6. and create a random 6x4 array and a list=('ABCD').now create a dataframe with 'dates' as index and list as the column and data as the datas of this table.


  Expected output

                        A	       B	      C	      D
    2021-01-01	-0.429358	0.779826	0.389625	0.248792
    2021-01-02	-1.044721	0.272807	-0.370437	1.177273
    2021-01-03	-0.961394	-0.525376	0.120843	0.470060
    2021-01-04	1.842266	-0.551049	0.588390	-0.326937
    2021-01-05	0.986198	0.391301	-0.084837	-0.855573
    2021-01-06	-1.531207	0.905463	-0.099024	0.589219

In [7]:
#please type
import numpy as np
import pandas as pd
 
dates = pd.date_range("20210101", periods=6)
df = pd.DataFrame(index=dates)
df1 = df.copy()
df1["A"] = ["-0.429358","-1,044721","-0.961394","1.842266","0.986198","-1.531207"]
df2 = df1.copy()
df2["B"] = ["0.779826","0.272807","-0.525376","-0.551049","0.391301","0.905463"]
df3 = df2.copy()
df3["C"] = ["0.389625","-0.370437","0.120843","0.588390","-0.084837","-0.099024"]
df4 = df3.copy()
df4["D"] = ["0.248792","1.177273","0.470060","-0.326937","-0.855573","0.589219"]
print(df4)

                    A          B          C          D
2021-01-01  -0.429358   0.779826   0.389625   0.248792
2021-01-02  -1,044721   0.272807  -0.370437   1.177273
2021-01-03  -0.961394  -0.525376   0.120843   0.470060
2021-01-04   1.842266  -0.551049   0.588390  -0.326937
2021-01-05   0.986198   0.391301  -0.084837  -0.855573
2021-01-06  -1.531207   0.905463  -0.099024   0.589219