<a href="https://colab.research.google.com/github/shahalaap/LEARN.PY/blob/main/TASK_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.  Using the dataset given below,
  - Group the given dataset by A and find the sum of the groups.
  - Find the 3 least elements from the column D
  - Find the 3 largest elements from the Column D which belongs to the group
  'bar'.

In [17]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
df
#please type your code below this line.
 
print(df)
 
df1 = df.groupby("A").sum()
print(df1)
 
df2 = df.sort_values("D")
df3 = df2.iloc[:3]
print(df3)
 
df4 = df.sort_values(by="D", ascending=False)
df5 = df4.iloc[:3]
print(df5)

     A      B         C         D
0  foo    one  0.904532  0.362100
1  bar    one  0.544510 -1.424838
2  foo    two -2.688119 -0.282985
3  bar  three -0.511399  0.475511
4  foo    two  2.660459 -0.823301
5  bar    two  0.564120  0.149095
6  foo    one  1.409855  0.077698
7  foo  three -0.614445 -0.458327
            C         D
A
bar  0.597230 -0.800232
foo  1.672281 -1.124814
     A      B         C         D
1  bar    one  0.544510 -1.424838
4  foo    two  2.660459 -0.823301
7  foo  three -0.614445 -0.458327
     A      B         C         D
3  bar  three -0.511399  0.475511
0  foo    one  0.904532  0.362100
5  bar    two  0.564120  0.149095

2. Using the dataset given below,
  - convert the dataset into a csv file.
  - read the csv file just saved
  - covert the dataset into a excel file.
  - read the excel file just saved.

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
#please type your code below this line.
 
df1 = df.to_csv()
print(df1)
 
df2 = pd.read_csv("foo.csv")
print(df2)
 
df3 = df.to_excel("foo.xlsx", sheet_name="sheet1")
print(df3)
 
df4 = pd.read_excel("foo.xlsx", "sheet1")
print(df4)

,A,B,C,D
0,foo,one,-0.7116536240124062,-0.05525166706800438
1,bar,one,-0.016147302663343747,-0.518310222260294
2,foo,two,0.6286213413014247,1.588477138038111
3,bar,three,-0.6120040603693605,-0.5659430832384572
4,foo,two,-0.22615617292497242,1.535623449827798
5,bar,two,1.5116526210909558,0.3583750394923093
6,foo,one,0.6344765742951112,1.342054246537436
7,foo,three,-0.2961101395672205,0.14877773037406047

   Unnamed: 0    A      B         C         D
0           0  foo    one -2.260767 -0.101156
1           1  bar    one  0.446177 -0.035546
2           2  foo    two  0.104895  0.952601
3           3  bar  three  1.613661  0.108542
4           4  foo    two -0.117399  0.519985
5           5  bar    two -0.991920 -0.288302
6           6  foo    one  1.250610 -1.217616
7           7  foo  three  0.814619  1.369759
None
   Unnamed: 0    A      B         C         D
0           0  foo    one -0.711654 -0.055252
1           1  bar    one -0.016147 -0.518310
2           2  foo    two  0.628621  1.588477
3           3  bar  three -0.612004 -0.565943
4           4  foo    two -0.226156  1.535623
5           5  bar    two  1.511653  0.358375
6           6  foo    one  0.634477  1.342054
7           7  foo  three -0.296110  0.148778