<a href="https://colab.research.google.com/github/shahalaap/LEARN.PY/blob/main/TASK_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.  Using the dataset given below,
  - Group the given dataset by A and find the sum of the groups.
  - Find the 3 least elements from the column D
  - Find the 3 largest elements from the Column D which belongs to the group
  'bar'.

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
df
#please type your code below this line.
 
print(df)
 
df1 = df.groupby("A").sum()
print(df1)
 
df2 = df.sort_values("D")
df3 = df2.iloc[:3]
print(df3)
 
df4 = df.sort_values(by="D", ascending=False)
df5 = df4[df.A=="bar"].head()
print(df5)

     A      B         C         D
0  foo    one  1.031409  2.192100
1  bar    one  0.714544 -1.432233
2  foo    two -0.868622 -0.343376
3  bar  three  0.180830 -0.064365
4  foo    two  0.846583  0.567687
5  bar    two -1.287694  0.086664
6  foo    one  1.191548  1.270687
7  foo  three -1.855236  0.265448
            C         D
A
bar -0.392320 -1.409934
foo  0.345682  3.952546
     A      B         C         D
1  bar    one  0.714544 -1.432233
2  foo    two -0.868622 -0.343376
3  bar  three  0.180830 -0.064365
     A      B         C         D
5  bar    two -1.287694  0.086664
3  bar  three  0.180830 -0.064365
1  bar    one  0.714544 -1.432233

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:22: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

2. Using the dataset given below,
  - convert the dataset into a csv file.
  - read the csv file just saved
  - covert the dataset into a excel file.
  - read the excel file just saved.

In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
#please type your code below this line.
 
df1 = df.to_csv('csvFile.csv')
print(df1)
 
df2 = pd.read_csv('csvFile.csv')
print(df2)
 
df3 = df.to_excel('excelFile.xlsx')
print(df3)
 
df4 = pd.read_excel('excelFile.xlsx')
print(df4)

None
   Unnamed: 0    A      B         C         D
0           0  foo    one  0.363174  0.128416
1           1  bar    one  1.955144 -1.070189
2           2  foo    two -0.788577 -1.698547
3           3  bar  three -0.045479 -1.712366
4           4  foo    two  0.378395  1.978802
5           5  bar    two -0.934638 -0.994281
6           6  foo    one  0.071831 -0.628801
7           7  foo  three  0.133441 -1.616916
None
   Unnamed: 0    A      B         C         D
0           0  foo    one  0.363174  0.128416
1           1  bar    one  1.955144 -1.070189
2           2  foo    two -0.788577 -1.698547
3           3  bar  three -0.045479 -1.712366
4           4  foo    two  0.378395  1.978802
5           5  bar    two -0.934638 -0.994281
6           6  foo    one  0.071831 -0.628801
7           7  foo  three  0.133441 -1.616916