<a href="https://colab.research.google.com/github/shahalaap/LEARN.PY/blob/main/TASK_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. In the data given below,
  - find the boolean mask where value is nan
  - remove the row with missing data.

In [ ]:
import pandas as pd
import numpy as np
dates = pd.date_range('20210101',periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=list('ABCD'))
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
df["F"]=s1
df1=df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1
#please provide your answer below this line
print(df1)
 
df2 = pd.isna(df1)
print(df2)
 
df3 = df1.dropna(how="any")
print(df3)

                   A         B         C         D   F    E
2021-01-01  0.785954  1.238811 -0.453173 -0.805107 NaN  1.0
2021-01-02 -1.603403 -1.067831 -0.507299 -0.821799 NaN  1.0
2021-01-03 -0.199164 -0.739476  0.685327  0.736993 NaN  NaN
2021-01-04  0.321536 -0.493125 -0.015286 -0.742782 NaN  NaN
                A      B      C      D     F      E
2021-01-01  False  False  False  False  True  False
2021-01-02  False  False  False  False  True  False
2021-01-03  False  False  False  False  True   True
2021-01-04  False  False  False  False  True   True
Empty DataFrame
Columns: [A, B, C, D, F, E]
Index: []

2. In the data given below,fill the missing data with 20.

In [ ]:
import pandas as pd
import numpy as np
dates = pd.date_range('20210101',periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=list('ABCD'))
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
df["F"]=s1
df1=df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1
#please provide your answer below this line
print(df1)
 
df2 = df1.fillna(value=20)
print(df2)

                   A         B         C         D   F    E
2021-01-01 -0.191754  0.389817  0.318287  0.596052 NaN  1.0
2021-01-02 -1.699423  0.972720 -0.125832  1.429840 NaN  1.0
2021-01-03  1.031715  0.283456 -0.901109 -1.652150 NaN  NaN
2021-01-04  0.649550  2.568292 -1.660034  0.342891 NaN  NaN
                   A         B         C         D     F     E
2021-01-01 -0.191754  0.389817  0.318287  0.596052  20.0   1.0
2021-01-02 -1.699423  0.972720 -0.125832  1.429840  20.0   1.0
2021-01-03  1.031715  0.283456 -0.901109 -1.652150  20.0  20.0
2021-01-04  0.649550  2.568292 -1.660034  0.342891  20.0  20.0

3. From the data given below,
  - break the data in to pieces from 0 t0 2 ,3 t0 7
  - concatenate the pieces.
  - concatenate the pieces along axis 1
  - label each as 'a' and 'b' respectively and perform concatenation.

In [18]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(10, 4))
df
#please provide your answer below this line
print(df)
 
df1 = df[0:2]
df2 = df[3:7]
print(df1)
print(df2)
 
df3 = pd.concat([df1,df2])
print(df3)
 
df4 = pd.concat([df1,df2], axis=1)
print(df4)
 
df5 = pd.concat(pieces, keys=["a", "b"])
print(df5)

          0         1         2         3
0 -0.071475  0.098611  1.140692  0.998422
1  1.322944  0.179300 -0.511496 -0.506003
2 -0.375332 -2.270360  0.057195 -0.500831
3  0.928078 -2.216150  1.562049 -1.349376
4  0.009280  0.823048 -0.241004 -1.138625
5  0.750899 -0.583773  0.394309  0.145386
6 -0.500039  0.434116  0.862797  0.072489
7 -1.303646 -0.064274 -0.501622  0.478298
8 -1.102525  0.330356  1.902647  0.080731
9 -2.633818 -0.699923 -0.260331 -1.267310
          0         1         2         3
0 -0.071475  0.098611  1.140692  0.998422
1  1.322944  0.179300 -0.511496 -0.506003
          0         1         2         3
3  0.928078 -2.216150  1.562049 -1.349376
4  0.009280  0.823048 -0.241004 -1.138625
5  0.750899 -0.583773  0.394309  0.145386
6 -0.500039  0.434116  0.862797  0.072489
          0         1         2         3
0 -0.071475  0.098611  1.140692  0.998422
1  1.322944  0.179300 -0.511496 -0.506003
3  0.928078 -2.216150  1.562049 -1.349376
4  0.009280  0.823048 -0.241004 -1.138625
5  0.750899 -0.583773  0.394309  0.145386
6 -0.500039  0.434116  0.862797  0.072489
          0         1         2  ...         1         2         3
0 -0.071475  0.098611  1.140692  ...       NaN       NaN       NaN
1  1.322944  0.179300 -0.511496  ...       NaN       NaN       NaN
3       NaN       NaN       NaN  ... -2.216150  1.562049 -1.349376
4       NaN       NaN       NaN  ...  0.823048 -0.241004 -1.138625
5       NaN       NaN       NaN  ... -0.583773  0.394309  0.145386
6       NaN       NaN       NaN  ...  0.434116  0.862797  0.072489

[6 rows x 8 columns]
            0         1         2         3
a 0 -1.335133  1.923709 -0.671076  2.210164
  1 -0.305037 -1.779428 -0.675508  0.101569
  2 -0.159634  0.167404  1.305299 -0.920397
b 3 -0.369884 -1.013256  1.151044  0.513252
  4 -0.157166  0.105324  0.309588 -0.562416
  5 -0.005364  1.282048  0.143017  0.238836
  6  0.105544  0.523016  1.147602 -0.875258