<a href="https://colab.research.google.com/github/shahalaap/LEARN.PY/blob/main/TASK_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. In the data given below,
  - find the boolean mask where value is nan
  - remove the row with missing data.

In [4]:
import pandas as pd
import numpy as np
dates = pd.date_range('20210101',periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=list('ABCD'))
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
df["F"]=s1
df1=df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1
#please provide your answer below this line
print(df1)
 
df2 = pd.isna(df1)
print(df2)
 
df3 = df1.dropna(how="any")
print(df3)

                   A         B         C         D   F    E
2021-01-01  0.785954  1.238811 -0.453173 -0.805107 NaN  1.0
2021-01-02 -1.603403 -1.067831 -0.507299 -0.821799 NaN  1.0
2021-01-03 -0.199164 -0.739476  0.685327  0.736993 NaN  NaN
2021-01-04  0.321536 -0.493125 -0.015286 -0.742782 NaN  NaN
                A      B      C      D     F      E
2021-01-01  False  False  False  False  True  False
2021-01-02  False  False  False  False  True  False
2021-01-03  False  False  False  False  True   True
2021-01-04  False  False  False  False  True   True
Empty DataFrame
Columns: [A, B, C, D, F, E]
Index: []

2. In the data given below,fill the missing data with 20.

In [5]:
import pandas as pd
import numpy as np
dates = pd.date_range('20210101',periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=list('ABCD'))
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
df["F"]=s1
df1=df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1
#please provide your answer below this line
print(df1)
 
df2 = df1.fillna(value=20)
print(df2)

                   A         B         C         D   F    E
2021-01-01 -0.191754  0.389817  0.318287  0.596052 NaN  1.0
2021-01-02 -1.699423  0.972720 -0.125832  1.429840 NaN  1.0
2021-01-03  1.031715  0.283456 -0.901109 -1.652150 NaN  NaN
2021-01-04  0.649550  2.568292 -1.660034  0.342891 NaN  NaN
                   A         B         C         D     F     E
2021-01-01 -0.191754  0.389817  0.318287  0.596052  20.0   1.0
2021-01-02 -1.699423  0.972720 -0.125832  1.429840  20.0   1.0
2021-01-03  1.031715  0.283456 -0.901109 -1.652150  20.0  20.0
2021-01-04  0.649550  2.568292 -1.660034  0.342891  20.0  20.0

3. From the data given below,
  - break the data in to pieces from 0 t0 2 ,3 t0 7
  - concatenate the pieces.
  - concatenate the pieces along axis 1
  - label each as 'a' and 'b' respectively and perform concatenation.

In [71]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(10, 4))
df
#please provide your answer below this line
print(df)
 
pieces =[df[0:2],df[3:7]]
print(pieces)
 
df2 = pd.concat(pieces)
print(df2)
 
df3 = pd.concat(pieces, axis=1)
print(df3)

          0         1         2         3
0 -1.349699 -1.450504  1.001656  1.858937
1  1.273822 -0.458211 -0.712665 -1.519994
2  0.480606  0.025434 -0.368172 -1.030888
3 -1.807571 -1.804643 -0.019644 -0.223416
4  1.423347 -1.362688  1.627248  1.275486
5 -1.006356  0.675283  0.336589  0.879966
6 -1.791538  1.137721  1.377037 -0.445669
7 -0.697711  1.713454 -0.766032 -2.117275
8  0.828090 -0.288211 -0.282874  0.662042
9 -0.443132  0.337990 -1.915113 -0.092702
[          0         1         2         3
0 -1.349699 -1.450504  1.001656  1.858937
1  1.273822 -0.458211 -0.712665 -1.519994,           0         1         2         3
3 -1.807571 -1.804643 -0.019644 -0.223416
4  1.423347 -1.362688  1.627248  1.275486
5 -1.006356  0.675283  0.336589  0.879966
6 -1.791538  1.137721  1.377037 -0.445669]
          0         1         2         3
0 -1.349699 -1.450504  1.001656  1.858937
1  1.273822 -0.458211 -0.712665 -1.519994
3 -1.807571 -1.804643 -0.019644 -0.223416
4  1.423347 -1.362688  1.627248  1.275486
5 -1.006356  0.675283  0.336589  0.879966
6 -1.791538  1.137721  1.377037 -0.445669
          0         1         2  ...         1         2         3
0 -1.349699 -1.450504  1.001656  ...       NaN       NaN       NaN
1  1.273822 -0.458211 -0.712665  ...       NaN       NaN       NaN
3       NaN       NaN       NaN  ... -1.804643 -0.019644 -0.223416
4       NaN       NaN       NaN  ... -1.362688  1.627248  1.275486
5       NaN       NaN       NaN  ...  0.675283  0.336589  0.879966
6       NaN       NaN       NaN  ...  1.137721  1.377037 -0.445669

[6 rows x 8 columns]